.spot-container {
    padding-top: 2%;
}

#spot-name {
    font-size: 1.5rem;
    font-weight: 530;
    padding-bottom: .5%;
}

#spot-information-summary {
    display: flex;
    flex-wrap: wrap;
    column-gap: .5rem;
    grid-auto-flow: dense;
    font-size: .85rem;
    padding-bottom: 2%;
    font-stretch: extra-condensed;
}

#spot-review-information {
    display: flex;
    font-weight: 500;
    width: fit-content;
    justify-content: space-around;
}

#spot-review-rating {
    display: flex;
}

#spot-review-rating>i {
    padding-right: 10%;
    height: min-content;
    align-self: center;
    padding-bottom: 4px;
    font-size: .8rem;
}

#spot-review-rating>p {
    padding-right: .3vw;
}

#spot-review-numreviews-separator {
    text-align: center;
    justify-content: center;
    display: flex;
    width: 10px;
}

#numReviews>span {
    text-decoration: underline;
    text-decoration-thickness: 1.2px;
}

#super-host {
    display: flex;
}

#super-host-content-container {
    display: inherit;

}

#spot-address {
    display: flex;
}

.information-break {
    width: min-content;
    text-decoration: none;
    padding-right: .5rem;
}

#super-host-content-container {
    display: flex;
}

#super-host-content-container>i {
    height: min-content;
    align-self: center;
    padding-right: .5rem;
}

.information-break:last-of-type {
    padding-left: .5rem;
    padding-right: 0;
}


#spot-address {
    text-decoration: underline;
    text-decoration-thickness: 1.2px;
    font-weight: 500;
}

.spot-images-container {
    display: grid;
    grid-template-areas:
        "preview preview img2 img3"
        "preview preview img4 img5";
    gap: .5rem;
    border-radius: 10px;
    overflow: hidden;
    grid-template-rows: minmax(180px, 280px) minmax(180px, 280px);
}

#spot-preview-image {
    grid-area: preview;
}

#spot-image-2 {
    grid-area: img2;
}

#spot-image-3 {
    grid-area: img3;
}

#spot-image-4 {
    grid-area: img4;
}

#spot-image-5 {
    grid-area: img5;
}

.spot-images-container img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}


@media screen and (max-width: 1000px) {
    .spot-images-container {
        grid-template-areas:
            "preview preview preview preview"
            "preview preview preview preview"
            "img2 img3 img4 img5";
        grid-template-rows: minmax(180px, 10vh) minmax(180px, 27vh);
    }

    img {
        object-position: bottom;
    }
}

#spot-description-and-booking {
    --margin-right: 10px;
    --bottom-border: 1px solid #dddddd;
    padding-top: 3.5%;
    display: flex;
    width: 100%;
    border-bottom: var(--bottom-border);
    flex-wrap: wrap;
}

#spot-description-container {
    max-width: 60%;
}

#hosted-by-container {
    display: flex;
    justify-content: space-between;
    height: 56px;
    padding-bottom: 10px;
    margin-right: var(--margin-right);
    border-bottom: var(--bottom-border)
}

@media screen and (max-width: 1000px) {
    #spot-description-container {
        max-width: 1000px;
    }
}


#hosted-by {
    font-weight: 500;
    font-size: 1.3rem;
}

#hosted-by-pfp {
    align-self: center;
}

#aircover-container {
    padding: 32px 0;
    margin-right: var(--margin-right);
    border-bottom: var(--bottom-border);
}

#aircover {
    font-size: 1.6rem;
    font-weight: 650;
    line-height: 20px;
    font-stretch: extra-condensed;
    margin-bottom: 16px;
    width: 100%;
}

#aircover-air {
    color: #ff365b;
}

#aircover-description {
    margin-bottom: 16px;
}

.learn-more {
    text-decoration: underline;
    font-weight: 500;
}

#spot-long-description-container {
    padding: 32px 0;
    margin-right: var(--margin-right);
    border-bottom: var(--bottom-border);
}

#show-more-container {
    margin-top: 16px;
    display: flex;
    height: 21px;
}

#show-more {
    font-weight: 500;
}

#show-more-container .fa-solid {
    font-weight: 600;
    padding-left: .5rem;
    font-size: .75rem;
    height: min-content;
    align-self: center;
}

#button-holder-spot-description {
    padding: 32px 0;
    margin-right: var(--margin-right);
}

#spot-reviews-container {
    --bottom-border: 1px solid #dddddd;
    padding: 48px 0;
    font-size: 1.2rem;
    border-bottom: var(--bottom-border);
}

#spot-reviews-information {
    display: flex;
    column-gap: .2rem;
    font-weight: 600;
}

#spot-reviews-rating {
    display: flex;
}

#spot-reviews-rating>i {
    padding-right: 10%;
    align-self: center;
    font-size: .8rem;
}

#spot-reviews-numreviews-separator {
    padding: 0 1px 0 2px;
}

#spot-edit-button {
    font-weight: 700;
    background: white;
    text-align: center;
    border: #ff365b 1px solid;
    border-radius: 8px;
    padding: 12px 20px;
    margin-left: 20px;
}