.spot-container {
    padding-top: 2%;
}

#spot-name {
    font-size: 1.5rem;
    font-weight: 550;
}

#spot-information-summary {
    display: flex;
    flex-wrap: wrap;
    column-gap: .5rem;
    grid-auto-flow: dense;
}

#spot-review-information {
    display: flex;
    column-gap: .2rem;
}

#spot-review-rating {
    display: flex;
}

.spot-images-container {
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: repeat(auto-fit, minmax(520px, auto));
    grid-template-rows: 450px;
    gap: .5rem;
    border-radius: 12px;
    overflow: hidden;
}

.spot-images-container img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.non-preview-images-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, auto));
    gap: .5rem;
}

.information-break {
    padding-right: .5rem;
}

@media screen and (max-width: 1170px) {
    .non-preview-images-container {
        grid-template-rows: minmax(200px, 250px)
    }
}

@media screen and (max-width: 500px) {
    .spot-images-container {
        grid-template-columns: repeat(auto-fit, minmax(320px, auto));
    }
}

@media screen and (min-width: 720px) {
    .non-preview-images-container div:nth-child(2n + 1) {
        grid-column: 1;
    }
}