#modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

#modal-content {
  display: flex;
  padding: 10px 15px;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: white;
  min-height: 250px;
  min-width: 350px;
  border-radius: 12px;
}

#modal-content label {
  color: red;
  display: block;
  width: 100%;
}

#modal-content input {
  background-color: red;
  display: block;
  width: max-content;
}