#modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

#modal-content {
  position: absolute;
  background-color: white;
  border-radius: 8px;
}

/* border-radius: 12px;
flex-flow: column;
align-items: center; */
/* height: 75%;
width: 80%;
min-height: 300px;
min-width: 350px;
max-width: 500px; */