#spot-reviews-container {
    --bottom-border: 1px solid #dddddd;
    padding-top: 48px;
    font-size: 1.2rem;
    border-bottom: var(--bottom-border);
    box-sizing: border-box;
}

#spot-reviews-information {
    display: flex;
    column-gap: .2rem;
    font-weight: 600;
    margin-bottom: 32px;
}

#spot-reviews-rating {
    display: flex;
    width: 100%;
}

#spot-reviews-rating>i {
    padding-right: .30rem;
    align-self: center;
    font-size: .8rem;
}

#spot-reviews-numreviews-separator {
    margin: 0 .25rem;
}

.reviews-outer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.review-container {
    display: flex;
    flex-basis: 50%;
    flex-flow: column;
    padding-left: 8px;
    max-width: 50%;
    margin-bottom: 40px;
    padding-right: 40px;
}

.user-review-buttons-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.title-container {
    display: flex;
    column-gap: 16px;
    align-items: center;
    margin-bottom: 16px
}


.user-review-name {
    font-weight: 500;
    font-size: 1.2rem;
}

.user-review-date {
    font-weight: 300;
    font-size: .9rem;
}

.full-review-container {
    font-size: 1rem;
    font-weight: 300;
}

@media screen and (max-width: 550px) {
    .review-container {
        min-width: 350px
    }
}

#delete-review:hover {
    background-color: red;
    color: white;
}