.spot-form-outer-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    --inner-width: 50%;
}

.spot-form-outer-container>div {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-width: 350px;
    max-width: 550px;
    width: 40vw;
}

.spot-form-title {
    padding: 32px 0;
    font-size: 2rem;
    font-weight: 600;
    width: 100%;
}

.spot-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.spot-form-container input[type]:first-of-type:focus {
    border: 2px solid black;
    border-radius: 8px 8px 0px 0px;
}

.spot-form-container input[type]:last-of-type:focus {
    border: 2px solid black;
    border-radius: 0px 0px 8px 8px;
}

.spot-form-container input[type]:focus {
    border: 2px solid black;
    border-radius: 8px;
}

.spot-form-textarea:focus {
    border: 2px solid black;
    border-radius: 8px;
}

.spot-form-textarea {
    box-sizing: border-box;
    border-top: 1px lightgrey solid;
    border-left: 1px lightgrey solid;
    border-right: 1px lightgrey solid;
    padding: 15px 10px;
    width: 100%;
    resize: none;
}

.spot-form-errors {
    width: 100%;
    margin-bottom: 32px;
}

.spot-form-submit {
    width: 100%;
    background: linear-gradient(90deg, rgba(230, 30, 77, 1) 0%, rgba(227, 28, 95, 1) 50%, rgba(215, 4, 102, 1) 100%);
    text-align: center;
    color: white;
    border-radius: 5px;
    padding: 12px 20px;
    margin-top: 30px;
    margin-bottom: 15px;
    font-weight: 600;
}