#booking-holder {
    width: 40%;
    position: relative;
    display: flex;
    justify-content: end;
}

@media screen and (max-width: 1000px) {
    #booking-holder {
        width: 100%;
        justify-content: center;
    }
}

#booking-content {
    width: 85%;
    position: sticky;
    padding: 24px;
    top: 40px;
    border: 1px solid lightgray;
    border-radius: 12px;
    margin-bottom: 32px;
    height: fit-content;
    box-shadow: rgb(0, 0, 0, 0.12) 0px 6px 16px 0px;
    min-width: 320px;
    max-width: 400px;
    background-color: white;
}

@media screen and (max-width: 1000px) {
    #booking-holder {
        width: 100%;
    }

    #booking-content {
        width: 100%;
        position: sticky;
        padding: 24px;
        top: 40px;
        border: 1px solid lightgray;
        border-radius: 12px;
        margin-bottom: 32px;
        height: fit-content;
        box-shadow: rgb(0, 0, 0, 0.12) 0px 6px 16px 0px;
        min-width: 320px;
        max-width: 400px;
    }
}

#booking-price-reviews {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: fit-content;
    line-height: 22px;
}

#booking-price {
    font-size: .9rem;
    height: fit-content;
}

#booking-price span {
    font-size: 1.3rem;
    font-weight: 600;
}

#spot-reviews-num-reviews {
    display: flex;
    justify-content: flex-end;
    height: 100%;
}

#booking-star {
    align-self: center;
    font-size: .65rem;
    margin-right: .2rem
}

#booking-reviews {
    height: 100%;
    display: flex;
}

#booking-star-rating {
    font-size: .75rem;
}

#button-holder-spot-description {
    display: flex;
    flex-direction: column;
    padding-top: 32px;
}

#spot-edit-button {
    font-weight: 700;
    background: white;
    text-align: center;
    border: lightgray 1px solid;
    border-radius: 8px;
    padding: 12px 20px;
    width: 100%;
    margin-bottom: .5rem;
}

#spot-edit-button:hover {
    background-color: #e6e6e68e;
}

.booking-calendar-container {
    margin-top: 24px;
}

.booking-calendar-buttons {
    display: grid;
    grid-template-areas:
        "dates dates"
        "guests guests";
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    margin-bottom: 16px
}

.booking-calendar-buttons button {
    position: relative;
    padding: 26px 12px 12px 12px;
}

.booking-calendar-buttons button>label {
    position: absolute;
    top: 10px;
    font-size: 10px;
    font-weight: 600;
    cursor: pointer;
}

#booking-calendar-dates {
    position: relative;
    grid-area: dates;
}

#booking-check-in {
    border: 1px solid var(--airbncf-border-dark-gray);
    border-radius: 8px 0 0 0;
    border-bottom: none;
    width: 50%;
}

#booking-check-out {
    border: 1px solid var(--airbncf-border-dark-gray);
    border-radius: 0 8px 0 0;
    border-bottom: none;
    border-left: none;
    width: 50%;
}

#booking-check-in:hover,
#booking-check-out:hover {
    border-color: black;
}

#booking-check-in:hover::after,
#booking-check-out:hover::after {
    height: calc(100% - 2px);
    width: calc(100% - 2px);
    position: absolute;
    content: "";
    border: 2px solid black;
    z-index: 10;
    top: -1px;
    left: -1px;
    border-radius: 8px 0 0 0;
}

#booking-check-out:hover::after {
    border-radius: 0 8px 0 0;
}

#booking-guest-amount {
    grid-area: guests;
    position: relative;
    border: 1px solid var(--airbncf-border-dark-gray);
    border-radius: 0 0 8px 8px;
}

#booking-guest-amount:hover::after,
#booking-guest-amount:focus-within::after {
    height: calc(100% - 2px);
    width: calc(100% - 2px);
    position: absolute;
    content: "";
    border: 2px solid black;
    z-index: 10;
    top: -1px;
    left: -1px;
    border-radius: 0 0 8px 8px;
}

#booking-guest-amount>p {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.booking-calendar-container>#submit {
    margin: 0;
    border-radius: 8px;
}


/* -------------------------------- Booking guest dropdown -------------------------------- */

#booking-guest-selection {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: white;
    border: 1px solid #e2e2e2;
    width: calc(100% + 2px);
    left: -1px;
    top: 100%;
    border-radius: 4px;
    z-index: 12;
    gap: 24px;
    padding: 16px;
    cursor: default;
}

.booking-guest-selection-option,
.booking-guest-selection-option-buttons {
    display: flex;
    flex-direction: row;
}

.booking-guest-selection-option-label {
    width: 65%;
}

.booking-guest-selection-option-label label {
    font-weight: 600;
    padding-bottom: 4px;
}

.booking-guest-selection-option-buttons {
    display: flex;
    justify-content: space-around;
    width: 35%;
    height: fit-content;
    align-self: flex-end;
    height: 32px;
}

.booking-guest-selection-quantity {
    align-self: center;
}

.booking-guest-selection-circle-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    width: 32px;
    height: 32px;
    border: 1px solid #717171;
    border-radius: 100%;
    font-weight: bolder;
    color: #717171;
}

.booking-guest-selection-circle-button:hover {
    color: black;
    border-color: black;
}

.booking-guest-selection-circle-button:disabled {
    border: 1px solid #717171;
    color: #717171;
}

#booking-guest-selection-close {
    text-decoration: underline;
    font-weight: 500;
    font-size: 16px;
    padding: 10px;
    border-radius: 8px;
    width: fit-content;
}

#booking-guest-selection-close:hover {
    cursor: pointer;
    background-color: #f7f7f7;
}


/* -------------------------------- Booking booking past dropdown-------------------------------- */


#booking-wont-be-charged {
    display: flex;
    justify-content: center;
    margin: 16px 0;
}

#booking-price-breakdown {
    display: flex;
    flex-direction: column;
    font-size: 16px;
}

.booking-price-breakdown-component {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px
}

.booking-price-breakdown-label {
    text-decoration: underline;
}

#booking-guest-selection-close-container {
    display: flex;
    justify-content: flex-end;
}

#booking-price-total {
    border-top: 2px solid #dddddd;
    padding-top: 24px;
    font-weight: 560;
}


#booking-price-total .booking-price-breakdown-label {
    text-decoration: none;
}