.all-spots-gallery {
    width: 100%;
    column-gap: 1.7rem;
    row-gap: 2rem;
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: repeat(auto-fill, minmax(275px, auto));
    padding-top: 2rem;
}

/* @media screen and (min-width: 1428px) {
    .all-spots-gallery{
       grid-template-columns: repeat(auto-fill, minmax(244px, auto));
    }
} */

.spots-gallery-image-container {
    display: flex;
    height: 70%;
    overflow: hidden;
    border-radius: 12px;
}

.spots-gallery-image-container img {
    object-fit: cover;
    object-position: bottom;
}

.spots-outer-frame {
    display: flex;
    height: 350px;
    flex-direction: column;
}

.spots-rating {
    display: grid;
    justify-self: right;
    font-weight: 400;
    grid-template-columns: 1fr 1fr;
    height: fit-content;
}

.spots-rating i {
    font-size: .6rem;
    align-self: center;
    width: fit-content;
    justify-self: end;
    padding: 0 .2rem;
}

.spots-rating p {
    align-self: center;
}

.spots-information-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding-top: 1.5rem;
    font-size: .9rem;
}

#spot-address {
    font-weight: 575;
    padding-bottom: 3px;
}

#spot-price {
    padding-top: 15px;
}

#spot-host {
    color: #949494;
}

#spot-price span {
    font-weight: 550;
}