#modal-content .form {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
}

.signup-main {
    display: flex;
    width: 40vw;
    height: 75vh;
    min-width: 350px;
    max-width: 550px;
    max-height: 530px;
    flex-flow: column;
    align-items: center;
    padding-bottom: 60px;
    overflow-y: scroll;
    scrollbar-width: none;
}

.signup-main::-webkit-scrollbar {
    display: none;
}

.form input[type] {
    box-sizing: border-box;
    border-top: 1px lightgrey solid;
    border-left: 1px lightgrey solid;
    border-right: 1px lightgrey solid;
    padding: 15px 10px;
    width: 100%;
}

.form-first {
    border-radius: 10px 10px 0 0;
}

.form-last {
    border-bottom: 1px lightgray solid;
    border-radius: 0 0 10px 10px;
}


.form-login input {
    box-sizing: border-box;
    border-top: 1px lightgrey solid;
    border-left: 1px lightgrey solid;
    border-right: 1px lightgrey solid;
    padding: 15px 10px;
    width: 100%;
}