/* TODO Add site wide styles */
* {
    font-size: 62.5%;
}

main {
    display: flex;
    justify-content: center;
    padding: 0 5%;
    height: 10000px;
}

header {
    position: sticky;
    top: 0px;
    border-bottom: 1px rgba(211, 211, 211, 0.533) solid;
    padding: 0 5%;
    background-color: #fffffffd;
    box-shadow: 0px 0px 10px rgba(211, 211, 211, 0.383);
}

footer {
    align-items: center;
    background-color: white;
    bottom: 0px;
    border-top: 1px lightgray solid;
    display: flex;
    justify-content: space-between;
    height: 50px;
    padding: 0 5%;
    position: fixed;
    width: 100%;
}

#root {
    width: 100%;
    max-width: 2500px;
    box-sizing: border-box;
}

.errors {
    color: red;
    margin-bottom: 10px;
}