/* TODO Add site wide styles */
* {
    font-size: 62.5%;
}

main {
    padding: 0 5%;
    height: 10000px;
    max-width: 2500px;
    margin: 0 auto;
}

header {
    position: sticky;
    top: 0px;
    border-bottom: 1px rgba(211, 211, 211, 0.533) solid;
    background-color: #fffffffd;
    box-shadow: 0 4px 6px -8px lightgray;
}

.navigation-container {
    margin: 0 auto;
    padding: 0 5%;
    max-width: 2500px;
}

footer {
    position: fixed;
    bottom: 0px;
    border-top: 1px rgba(211, 211, 211, 0.533) solid;
    height: 50px;
    background-color: white;
    width: 100%;
}

.footer-container {
    max-width: 2500px;
    margin: 0 auto;
    padding: 0 5%;
    display: flex;
    justify-content: space-between;
}

#root {
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
}

.errors {
    color: red;
    margin-bottom: 10px;
}