#home-button {
    color: #FF385C;
    font-weight: bold;
    grid-area: "home";
}

.navigation {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    font-weight: light;
}

i.fa-broom {
    color: #FF385C;
    display: inline-block;
    font-size: 25px;
}

.navTitle {
    display: flex;
    align-items: center;
    color: #FF385C;
    font-weight: 600;
    font-size: 1.3rem;
}

.navTitle>* {
    font-family: 'Poppins';
}

.logo {
    display: flex;
    width: fit-content;
    cursor: pointer;
}

.logo>div {
    display: flex;
    align-items: center;
    height: 40px;
}

.profile-button {
    color: #717171;
    padding: 5px 5px;
    border: 1px lightgrey solid;
    border-radius: 40px;
    display: flex;
    align-items: center;
    position: relative;
    transition: box-shadow .2s ease-in;
    cursor: pointer;
}

.profile-button:hover {
    box-shadow: 0 2px 10px rgb(211, 211, 211)
}

.profile-button:focus-within {
    box-shadow: 0 2px 10px rgb(211, 211, 211)
}

.fa-bars {
    padding: 5px 14px 5px 8px;
    font-size: 15px;
    font-weight: light;
}

.fa-user-circle {
    font-size: 29px;
    font-weight: bold;
}

.profile-button-icon {
    display: inline;
}

.button-outline {
    display: flex;
    align-items: center;
}

.profile-dropdown {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 275%;
    z-index: 1;
    top: 130%;
    right: -1%;
    border-radius: 8px;
    border: 1px rgba(211, 211, 211, 0.195) solid;
    background-color: white;
    box-shadow: 0px 0px 10px rgb(211, 211, 211);
    padding-top: 10px;
    overflow: hidden;
    font-size: .8rem;
}

.profile-dropdown li {
    padding: 10px;
    cursor: pointer;
}

.profile-dropdown p {
    cursor: default;
    font-weight: 500;
    font-size: .9rem;
    padding: 6px 10px;
}

.profile-dropdown>div {
    border-bottom: 1px solid lightgray;
    padding-bottom: 10px;
}

.profile-button li:hover {
    background-color: #f1f1f1;
}

#right-navigation-container {
    display: flex;
    column-gap: 10px;
}

#right-navigation-airbncf {
    font-size: .9rem;
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 40px;
    transition: background-color 200ms cubic-bezier(0.165, 0.84, 0.44, 1);
}


@media screen and (max-width: 410px) {
    #right-navigation-airbncf {
        display: none;
    }
}

#right-navigation-airbncf:hover {
    background-color: #e6e6e68e;
}